@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*remove all the basic styling of the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(22%2c 48%2c 43%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c403.106C78.957%2c398.675%2c159.526%2c394.459%2c227.031%2c353.266C295.387%2c311.554%2c330.865%2c237.409%2c377.828%2c172.548C437.175%2c90.583%2c535.517%2c23.652%2c538.917%2c-77.485C542.362%2c-179.973%2c467.205%2c-269.437%2c395.137%2c-342.388C326.009%2c-412.362%2c233.78%2c-447.546%2c141.016%2c-480.257C43.409%2c-514.676%2c-63.942%2c-581.013%2c-157.783%2c-537.359C-252.95%2c-493.088%2c-263.45%2c-363.189%2c-311.376%2c-269.809C-347.267%2c-199.878%2c-374.85%2c-131.142%2c-403.779%2c-58.055C-442.606%2c40.039%2c-546.609%2c134.005%2c-510.44%2c233.11C-474.971%2c330.298%2c-342.175%2c347.008%2c-244.017%2c379.698C-164.888%2c406.051%2c-83.271%2c407.779%2c0%2c403.106' fill='%2310231f'%3e%3c/path%3e%3cpath d='M1440 1031.12C1535.564 1053.692 1640.031 1051.9189999999999 1727.655 1007.601 1819.21 961.2950000000001 1901.138 882.148 1929.497 783.546 1956.888 688.312 1907.934 590.781 1874.354 497.549 1846.551 420.355 1801.924 354.791 1751.703 289.908 1698.547 221.23399999999998 1655.968 132.72500000000002 1572.751 107.89299999999997 1489.483 83.04599999999999 1403.652 129.322 1323.144 162.024 1249.546 191.92000000000002 1188.123 238.00099999999998 1127.136 288.902 1054.755 349.313 968.5550000000001 399.64300000000003 933.5550000000001 487.18399999999997 894.615 584.578 862.691 710.718 924.649 795.3530000000001 988.521 882.602 1129.836 844.637 1228.165 889.621 1306.98 925.678 1355.65 1011.197 1440 1031.12' fill='%231c3d37'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 100%;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}
header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


input, button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

button {
    color: #E07A5F;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #E07A5F;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .completed-btn {
    background: #81B29A;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn {
    background: #E07A5F;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(10deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #3D405B;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC"; /*add the arrow down on the selector button thingy*/
    position: absolute;
    background: #81B29A;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: #E07A5F;
    color: white;
}
